@import "variables";

.editor {
  .gutter {
    .git-line-modified {
      border-left: 2px solid @blue;
      padding-left: ~"calc(0.5em - 2px)";
      color: @base0;
    }

    .git-line-added {
      border-left: 2px solid @cyan;
      padding-left: ~"calc(0.5em - 2px)";
      color: @base0;
    }

    .git-line-removed {
      border-left: 2px solid @red;
      padding-left: ~"calc(0.5em - 2px)";
      color: @base0;
    }
  }
}
