.source.python {
  .entity {
    color: @base0;

    &.name {
      color: @blue;
    }
  }
  .punctuation.string {
    color: @cyan;
  }
  .keyword.operator {
    color: @base0;
  }
  .constant.other {
    color: @red;
  }
  .keyword.control.import {
    color: @red;
  }
  .variable {
    color: @base0;
  }
}
